//Styles for AddBtn component
.add-button {
  transition: all var(--animation-speed);

  border: none;

  font-size: var(--size-text-label);
  color: var(--color-text-secondary);

  background-image: url(./icons/plus-unactive.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  min-width: 40px;
  min-height: 40px;

  //States
  &:hover,
  &:focus {
    background-image: url(./icons/plus-active.svg);
  }

  &:focus {
    outline: none;
    background-color: var(--color-border);
    color: var(--color-text-primary);
  }

  //Variants
  &.vertical {
    border-radius: 0 0 var(--size-border-radius) 0;
  }
}
