//Styles for columns components
.surface__column {
  flex: 2 0 280px;
  min-width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid var(--color-border);
  background-color: var(--color-surface);

  //States
  &.mobile {
    flex: auto;
    min-width: auto;
  }

  //Variants
  &-base {
    border-radius: 0 0 0 var(--size-border-radius);

    &.fullscreen {
      flex: 2 0 320px;
      min-width: 320px;
    }

    &.mobile {
      flex: auto;
      min-width: auto;

      .currency-base {
        border-radius: 0px;
        border-bottom: 1px solid var(--color-border);
      }
    }
  }
}
