//Variables
.App {
  //Text
  --size-text-label: 13px;
  --size-text-main: 15px;
  --size-text-title: 17px;
  --size-text-input: 24px;
  --size-border-radius: 12px;

  //Animations
  --animation-speed: 0.2s;

  //Colors
  --color-body: #0b0b0d;
  --color-surface: #161619;
  --color-text-primary: #dfdfe6;
  --color-text-secondary: #616166;
  --color-border: #222226;
  --color-accent: #3964e6;
  --color-accent-secondary: #3e6cf7;
  --color-modal-authorize: rgba(22, 22, 25, 0.1);
  --color-modal-button: rgba(255, 255, 255, 0.1);

  &.light {
    --color-body: #fafafa;
    --color-surface: #ffffff;
    --color-text-primary: #0b0b0d;
    --color-text-secondary: #616166;
    --color-border: #f5f5f5;
    --color-accent: #3964e6;
    --color-accent-secondary: #3e6cf7;
    --color-modal-authorize: rgba(22, 22, 25, 0.1);
    --color-modal-button: rgba(255, 255, 255, 0.1);
  }
}

.App {
  text-align: center;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &.dark {
    background-color: var(--color-body);
    color: #fff;
  }

  .fragment {
    position: relative;
    margin-bottom: 25px;
    h2 {
      margin: 0 0 15px 0;
    }
  }

  .surface {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--size-border-radius);
    width: 600px;
    .content {
      display: flex;
      justify-content: space-between;

      &__column {
        max-width: 280px;
        display: flex;
        flex-direction: column;

        border-right: 1px solid var(--color-border);
      }
    }
  }
}
